
main {
    width: 85%;
    max-width: 1440px;
}
.weather {
    width: 32%;
    padding: 0.4rem 0.4rem;
  }


  #location-name {
    margin: 1.3rem;
    font-size: 2.2rem;
  }

  #temp-wrapper {
    width: 100%;
    font-size: 1.3rem;
    display: flex;
    justify-content: space-around;
  }

  #condition {
  font-size: 1.3rem;
  }

  .date {
    font-size: 1.3rem;
  }

  #bottom-container {
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    height: auto;
  }
  
  #location-container {
    width: 49%;
    border-radius: 0;
    border: 0;
    background: 0;
  }

  #map {
    height: 350px;
  }
  #d3-container {
      width: 49%;
      border-radius: 0;
      border: 0;
      background: 0;
  }
