* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;

}

body {
  position: fixed;
  height: 100vh;
  font-family: 'Roboto', sans-serif;
  margin: 0 auto;
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
}



.is-hidden {
  display: none;
}

#wrapper {
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  background: linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.9));
}
#weather-container {
  width: 100%;
  height: 250px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.weather {
  color: white;
  padding: 10px;
  display: flex;
  width: 30%;
  flex-direction: column;
  align-items: center;
  border-radius: 5px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  background: rgba(0, 0, 0, 0.3);
}

#weather-container-label {
  background: rgba(255, 255, 255, 0.5);
  margin-bottom: 10px;
  padding: 5px;
  border-radius: 5px;
  font-weight: 800;
}

#temp-wrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 30px;
  width: 100%;

}

#input-label {
font-size: 1.2rem;
color: white;
letter-spacing: 1px;
text-transform: uppercase;
}

#details-container {
  color: white;
  width: 50%;
  border-radius: 5px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  background: rgba(0, 0, 0, 0.3);
}
#map {
  height: 100%;
  width: 50%;
}

main {
  width: 80%;
  height: 100%;
  padding-top: 50px;
  display: grid;
  grid-template-rows:  1fr 1fr 1fr;
  gap: 5%;
  margin: 0 auto;

}

#bottom-container {
  display: flex;
  width: 100%;
  height: 350px;
}

#condition {
  font-size: 1.7rem;
  text-transform: uppercase;
}


#submit-btn {
  height: 100%;
  width: 20%;
  border-radius: 5px;
  outline: none;
  border: 1px solid black;

}
#post-input {
  margin-left: 10px;
  margin-right: 10px;
  width: 50%;
  height: 100%;
 border: 1px solid black;
 padding: 5px;
  outline: none;
  border-radius: 5px;
}

#location-name {
  width: 100%;
  text-align: center;
  font-size: 2rem;
  color: rgb(255, 255, 255);
  text-shadow: 3px 3px rgb(0, 0, 0);
  font-weight: 900;
  letter-spacing: 3px;
  word-spacing: 10px;
}

#weather-date-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
}