

.weather {
    width: 33%;
    padding: 0.4rem 0.4rem;
  }

  main {
    width: 95%;
    padding: 0;
    margin-top: 2rem;
    margin-left: auto;
    margin-right: auto;
}

header section {
    width: 100%;
    display: flex;

}

#location-name-container {
    flex-direction: column;
}
#input-container {
    flex-direction: row;
    justify-content: space-around;
    align-content: center;
}
#input-label {
    font-size: 1.1rem;
    min-width: 1.2;
    display: flex;
    align-items: center;
    margin-right: 0.5rem;
}

  #location-name {
    margin: 1.2rem;
    font-size: 1.7rem;
  }

  #temp-wrapper {
    width: 100%;
    font-size: 1.1rem;
    display: flex;
    justify-content: space-around;
  }

  #condition {
    display: flex;
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
    text-shadow: 2px 2px black;
    text-transform: uppercase;
  }

  .container-label {
    margin: 1rem 0;
  }

  #submit-btn {
    display: block;
    width: 20%;
    margin-left: 0.5rem;
  border-radius: 5px;
  outline: none;
  color: white;
  border: 1px solid black;
  background: grey
}
#post-input {
    width: 40%;
    flex-grow: 1;
}
  .date {
    font-size: 1.2rem;
  }
  





















